*
{
  margin:0;
  padding:0;
}

/* Styling for index.html*/
html {
    scroll-behavior: smooth;
  }

header {
    background-image: linear-gradient(90deg,rgba(118, 109, 255, 0.8) 0%,rgba(136, 243, 255, 0.8) 100%);
    position: fixed;
    width: 100%;
    background-color: transparent;
}

nav {
    display: flex; 
    justify-content: space-between;
    padding: 1.5em;
    align-items: center;
    height: 2.5rem;
}

.logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.nav-links a{
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    margin-right: 1.2rem;
}

.nav-links {
    flex-wrap: nowrap;
}

.icon {
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
}

.main-bg {
    background-color: whitesmoke;
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 8px dimgrey;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

.profile-img {
    border-radius: 15px;
    width: 90%;
    height: 80%;
    margin: auto;
    margin: 2rem 1.5rem;
    vertical-align: middle;
}

.profile {
    margin-right: 1rem;
    /*padding-right: 3rem;*/
    padding-left: 7rem;
}

.line-one {
    font-size: 14px;
    font-family: roboto,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 4rem;
    color: #222;
}

.profile-name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222;
    font-family: heebo,sans-serif;
    font-weight: 700;
}

.role {
    font-size: 16px;
    font-weight: 500;
    font-family: roboto,sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222;
}

.profile-text {
    font-family: roboto,sans-serif;
    padding-right: 12rem;
    color: #777;
    margin-bottom: 40px;
}

.contact > li > .material-icons {
    color: #7c9cff;
    font-weight: 300;
    padding-right: 1rem;
}

.contact li {
    font-size: 16px;
    color: #777777;
    font-family: roboto, sans-serif;
    font-weight: 400;
    align-items: baseline;
}

main ul li {
    list-style-type: none;
}

.contact {
    margin-bottom: 2rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.social-media li {
    margin-right: .8rem;
    margin-bottom: 4rem;
}

i:hover {
    color: #7c9cff;
}

.experience {
    background-image: linear-gradient(90deg,#766dff 0%,#88f3ff 100%);
    color: white;
}

.experience-title {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: heebo, sans-serif;
    font-size: 25px;
}

.experience-container {
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;*/
    width: 80%;
    margin: auto;
    padding: 2rem;
}

.experience-continer > div {
    text-align: start;
    padding-left: 7rem;
}

.experience-items {
    display: grid;
    grid-template-columns: 40% 50%;
    padding: 1rem 2rem 2rem 2rem;
    /*justify-content: space-around;
    align-items: center;*/
}

.experience-date {
    width: 100%;
    margin-left: 8%;
    font-size: 20.25px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

.experience-details > h4 {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: heebo, sans-serif;
    font-weight: 700;
}

.experience-details > h5 {
    font-size: 16px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.experience-details > p {
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: rgba(255, 255, 255, 0.75);
}

.education {
    background-color: #f2f2f2;
} 

.education-title {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: heebo, sans-serif;
    font-size: 25px;
}

.education-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: auto;   
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.education-continer > div {
    text-align: start;
    padding-left: 7rem;
}

.education-items{
    width: 13rem;
    height: 13rem;
    background-color: white;
    border-radius: 7px;
    padding: 1rem 2rem 2rem 2rem;
    margin-top: 1rem;
}

.hover-card {
    font-size: 2.5em; 
    color: lightgrey;
}

.education-items:hover{
    box-shadow: 3px 3px 10px #7c9cff;
}

.education-items:hover .hover-card {
    color:#7c9cff !important;
}

.education-items:hover .material-icons {
    color:#7c9cff !important;
}

.education-date {
    width: 100%;
    font-size: 20.25px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: rgba(82, 81, 81, 0.75);
    padding-top: 1.5rem;
}

.education-details > h4 {
    /*color: #fff;*/
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: heebo, sans-serif;
    font-weight: 700;
}

.education-details > h5 {
    font-size: 16px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    /*color: rgb(255, 255, 255);*/
    margin-bottom: 0.8rem;
}

.education-details > p {
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    /*color: rgba(255, 255, 255, 0.75);*/
} 

.education-items .material-icons {
    font-weight: 300;
    font-size: 2.5em;
    color: lightgrey;
}

.skill {
    background-color: whitesmoke;
}

.skill-container {
    padding-bottom: 4rem;
}

.skill-title {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: heebo, sans-serif;
    font-size: 25px;
}

.skill-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.skills-img {
    width: 30rem;
    height: 30rem;
    justify-content: center;
    background-image: linear-gradient(90deg,#766dff 0%,#88f3ff 100%);
    border-radius: 50%;
}

.skills-img img {
    width: 26rem;
    height: auto;
    padding-left: 3rem;
    margin-top: -2rem;
}

.skills-items li {
    list-style-type: none;
    background-color: white;
    box-shadow: .8px .8px 3px  grey;
    margin-bottom: .8rem;
    border-radius: 5px;
    padding: .8rem .5rem;
    width: 20rem;
    font-family: roboto, sans-serif;
    font-weight: 600;
    color: rgba(82, 81, 81, 0.75);
}

.skills-items li:hover {
    background-image: linear-gradient(90deg,#766dff 0%,#88f3ff 100%);
    color: white;
    height: auto;
    box-shadow: 3px 3px 10px  #7c9cff;
}

#skill-html {
    margin-left: -9rem;
}

#skill-graphics {
    margin-left: -7rem;
}

#skill-adobe {
    margin-left: -5rem;
}

#skill-comm {
    margin-left: -3rem;
}

#skill-prob {
    margin-left: -1rem;
}

#skill-think {
    margin-left: -3rem;
}

#skill-create {
    margin-left: -5rem;
}

#skill-org {
    margin-left: -7rem;
}

#skill-office {
    margin-left: -9rem;
}

.to-top-btn {
    background-color: #272e77;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    color: lightgrey;
    position: fixed;
    border: none;
    right: 1.5rem;
    bottom: 2rem;
    z-index: 99;
}

.to-top-btn:hover {
    background-color: lightgrey;
    color: #0c0844;
}

button p {
    font-weight: 500;
    margin-top: -1rem;
    padding-bottom: 1.5rem;
    padding-top: .2rem;
}

.footer {
    background-color: black;
    color: white;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 2rem 3rem 2rem;
}

.about {
    width: 25%;
    height: auto;
    margin-right: 5rem;
}

.contact-container h3 {
    font-family: heebo, sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-container p {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: .8px;
    color: #777;
    line-height: 1.3rem;
    padding-top: 1rem;
}

.form {
    width: 35%;
    height: auto;
}

form .name, .email {
    width: 75%;
    height: auto;
    padding: .5rem;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 1rem;
}

form .comment {
    resize: none;
    width: 75%;
    height: 4rem;
    padding: .5rem;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 1rem;
    font-family: roboto, sans-serif;
}

form .btn {
    width: 4rem;
    height: 2rem;
    background-image: linear-gradient(90deg,#766dff 0%,#88f3ff 100%);
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
}

form .btn:hover {
    background-image: linear-gradient(90deg, #88f3ff 0%,#766dff 100%);
}

.social {
    width: 15%;
    height: auto;
}

.links {
    padding-top: 2rem;
}

.links a {
    text-decoration: none;
}
.links i {
    padding-right: 1rem;
    color: #cccccc;
}

.links i:hover {
    color: #007bff;
}

@media only screen and (max-width: 1024px) {
    #skill-html {
        margin-left: -7rem;
    }
    
    #skill-graphics {
        margin-left: -5rem;
    }
    
    #skill-adobe {
        margin-left: -3rem;
    }
    
    #skill-comm {
        margin-left: -1rem;
    }
    
    #skill-prob {
        margin-left: 1rem;
    }
    
    #skill-think {
        margin-left: -1rem;
    }
    
    #skill-create {
        margin-left: -3rem;
    }
    
    #skill-org {
        margin-left: -5rem;
    }
    
    #skill-office {
        margin-left: -7rem;
    }
    
    .skills-img {
        width: 25rem;
        height: 25rem;
    }

    .skills-img img {
        width: 20rem;
        height: auto;
    }
}

@media only screen and (max-width: 972px) {
    .profile {
        padding-left: 3rem;
    }

    .profile-text {
        padding-right: 4rem;
    }

    .experience-title {
        width: 85%;
    }

    .experience-container {
        width: 85%;
        padding-top: 1rem;
    }

    .experience-items {
        padding: 1rem 0 1.5rem 0;
    }

    .experience-details {
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 870px) {
    .nav-links a {
        margin-right: .8rem;
    }

    .skills-img {
        width: 20rem;
        height: 20rem;
    }

    .skills-img img {
        width: 15rem;
        height: auto;
        margin-top: -1rem;
    }
    
    .skills-items li {
        margin-bottom: .5rem;
        padding: .5rem .3rem;
        width: 17rem;
        font-size: .85rem;
    }
}

@media only screen and (max-width: 768px) {
    .topnav {
        position: relative;
      }

    .topnav #links {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: black;
        z-index: 1;
        margin-top: 20rem;
        margin-right: -1.5rem;
        padding-top: .2rem;
        padding-bottom: 1.2rem;
      }
      
      .topnav a.icon {
        display: block;
        position: absolute;
        right: 2.5rem;
        top: 2rem;
        width: 1rem;
        text-decoration: none;
      }

      .icon i {
        font-size: 1.5rem;
        color: black;
        background: none;
      }

    #links a {
        display: block;
        padding-top: 1rem;
        font-size: 1.1em;
        font-weight: 500;
    }

    .main-bg {
        padding-top: 8rem;
    }

    .profile {
        padding-left: 2rem;
        padding-right: 0;
    }

    .profile-name {
        font-size: 35px;
    }

    .profile-text {
        padding-right: 1.3rem;
        margin-bottom: 1.2rem;
    }

    .experience-title {
        width: 90%;
        font-size: 1.3rem;
    }

    .experience-container {
        padding-top: 1rem;
    }

    .experience-items {
        padding: 1.7rem 0;
    }

    .experience-details {
        padding-left: 1.5rem;
    }

    .skill-content {
        flex-direction: column;

    }

    .skills-items {
        width: 90%;
        margin-top: 1.5rem;
    }

    .skills-items ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills-items ul li {
        width: 45%;
        margin: .5rem auto;
    }

    #skill-html {
        margin-left: 0;
    }
    
    #skill-graphics {
        margin-left: 0 ;
    }
    
    #skill-adobe {
        margin-left: 0;
    }
    
    #skill-comm {
        margin-left: 0;
    }
    
    #skill-prob {
        margin-left: 0;
    }
    
    #skill-think {
        margin-left: 0;
    }
    
    #skill-create {
        margin-left: 0;
    }
    
    #skill-org {
        margin-left: 0;
    }
    
    #skill-office {
        margin-left: 0;
    }

    .links i {
        padding-right: .8rem;
    }

    form .btn {
        width: 4rem;
    }

    .about{
        margin-right: 3rem;
    }

    .social{
        width: 20%;
    }
    .contact-container{
        padding: 4rem 1rem 3rem 1rem;
    }
}


@media only screen and (max-width: 665px) {
    .main-bg {
        padding-top: 7rem;
        padding-bottom: 3rem;
    }
    
    .profile-container {
        flex-direction: column;
    }

    .line-one {
        margin-top: .8rem;
    }

    .contact-container {
        flex-direction: column;
        align-items: left;
    }

    .contact-container h3{
        margin-bottom: 0;
    }

    .about, .form, .social {
        width: 90%;
        margin: auto;
    }

    .form, .social {
        margin-top: 2rem;
    }

    form .comment, form .email {
        width: 94%;
        margin-top: .8rem;
    }

    form .name {
        width: 94%;
        margin-top: 1rem;
    }

    .social p {
        display: none;
    }

    .links {
        padding-top: 1rem;
    }

}

@media only screen and (max-width: 550px) {
    .experience-container {
        padding-top: 0;
        width: auto;
    }
    
    .experience-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px solid white;
    }

    .experience-date {
        margin-left: 0;
        padding-left: 1rem;
        padding-bottom: .6rem;
    }

    .experience-date h5 {
        font-size: .83rem;
    }

    .experience-details{
        padding: 0 1rem;
    }

    .experience-details > h4 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }

    .experience-details > h5 {
        margin-bottom: .5rem;
    }

    #last-exp-item {
        border-bottom: 0;
    }
}

@media only screen and (max-width: 590px) {
    .skills-img {
        width: 17rem;
        height: 17rem;
    }

    .skills-img img {
        width: 14rem;
        padding-left: 1.8rem;
    }

    .skills-items ul li {
        width: 95%;
        margin: .5rem auto;
        text-align: center;
    }

}

@media only screen and (max-width: 425px) {
    .profile-container {
        background-color: transparent;
        box-shadow: none;
    }

    .main-bg {
        padding-top: 6rem;
        padding-bottom: 0rem;
    }

    .profile-img {
        margin: 2rem .5rem 2rem 1rem;
    }

    .profile {
        padding-left: 1.5rem;
        margin-right: 0rem;
    }

    .education-items {
        padding: 1rem;
        padding-bottom: 2rem;
        width: 12rem;
        height: 12rem;
    }

    .experience-container {
        padding: 1rem;
    }
    
    .education-date {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .hover-card {
        font-size: 2rem;
    }

    .education-details h4 {
        font-size: 1.1rem;
    }

    .education-details h5 {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 320px) {
    .skills-img { 
        width: 11rem;
        height: 11rem;
    }
    
    .skills-img img {
        width: 8.2rem;
        padding-left: 1.3rem;
        margin-top: -0.6rem;
    }
}


/*Styling for the portfolio page*/

.back-header {
    height: 5.4rem;
}

.portfolio-welcome {
    background-image: url("https://res.cloudinary.com/solarrays/image/upload/v1621552794/Portfolio%20Website/jess-bailey-l3N9Q27zULw-unsplash_uz9qmh.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; 
}

.overlay {
    background-color: rgba(255, 255, 255, .3);
    padding: 10rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-welcome h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222;
    font-family: heebo,sans-serif;
    font-weight: 700;
}

.portfolio-welcome p {
    font-family: roboto,sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(83, 79, 79);
    margin-bottom: 40px;
}

.main-body-container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    padding: 3rem 2rem;
}

.main-body-container div {
    width: 13rem;
    height: 13rem;
    background-color: white;
    border-radius: 7px;
    padding: 1rem 2rem 2rem 2rem;
    margin-top: 1rem;
}

.main-body-container div h3 {
        font-size: 21px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-family: heebo, sans-serif;
        font-weight: 700;
}

.main-body-container div h5 {
    font-size: 16px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.main-body-container div p {
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    font-style: italic;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 695px) {
    .overlay h3 {
        font-size: 2rem;
    }

    .overlay p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .overlay h3 { 
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 435px) {
    .overlay {
        padding: 8rem 1.5rem;
    }

    .overlay h3 {
        font-size: 1.5rem;
    }

    .overlay p {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 375px) {
    .overlay {
        padding: 7rem 1rem;
    }
    
    .overlay h3 {
        font-size: 1.5rem;
    }

    .overlay p {
        font-size: .8rem;
    }

    .main-body-container div h5 {
        font-size: .85rem;
    }

    .main-body-container div p {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 350px) {
    .overlay {
        padding: 7rem 1rem;
    }

    .overlay h3 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 310px) {
    .main-body-container {
        padding: 2rem 1.1rem;
    }
}