*
{
  margin:0;
  padding:0;
}

html {
    scroll-behavior: smooth;
  }

header {
    background-image: linear-gradient(90deg,rgba(118, 109, 255, 0.8) 0%,rgba(136, 243, 255, 0.8) 100%);
    position: fixed;
    width: 100%;
    background-color: transparent;
}

nav {
    display: flex; 
    justify-content: space-between;
    padding: 1.5em;
    align-items: center;
}

.logo {
    width: 10%;
    height: auto;
    border-radius: 50%;
}

nav ul li{
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    margin-right: 30px;
}

nav ul {
    flex-wrap: nowrap;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.main-bg {
    background-color: whitesmoke;
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 8px dimgrey;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

.profile-img {
    border-radius: 15px;
    width: 90%;
    height: 80%;
    margin: auto;
    margin: 2rem 1.5rem;
    vertical-align: middle;
}

.profile {
    margin-right: 1rem;
    /*padding-right: 3rem;*/
    padding-left: 7rem;
}

.line-one {
    font-size: 14px;
    font-family: roboto,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 4rem;
    color: #222;
}

.profile-name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222;
    font-family: heebo,sans-serif;
    font-weight: 700;
}

.role {
    font-size: 16px;
    font-weight: 500;
    font-family: roboto,sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222;
}

.profile-text {
    font-family: roboto,sans-serif;
    padding-right: 12rem;
    color: #777;
    margin-bottom: 40px;
}

.contact > li > .material-icons {
    color: #7c9cff;
    font-weight: 300;
    padding-right: 1rem;
}

.contact li {
    font-size: 16px;
    color: #777777;
    font-family: roboto, sans-serif;
    font-weight: 400;
    align-items: baseline;
}

main ul li {
    list-style-type: none;
}

.contact {
    margin-bottom: 2rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.social-media li {
    margin-right: .8rem;
    margin-bottom: 4rem;
}

i:hover {
    color: #7c9cff;
}

.experience {
    background-image: linear-gradient(90deg,#766dff 0%,#88f3ff 100%);
    color: white;
}

.experience-title {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: heebo, sans-serif;
    font-size: 25px;
}

.experience-container {
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;*/
    width: 80%;
    margin: auto;
    padding: 2rem;
}

.experience-continer > div {
    text-align: start;
    padding-left: 7rem;
}

.experience-items {
    display: grid;
    grid-template-columns: 40% 50%;
    padding: 1rem 2rem 2rem 2rem;
    /*justify-content: space-around;
    align-items: center;*/
}

.experience-date {
    width: 100%;
    margin-left: 8%;
    font-size: 20.25px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

.experience-details > h4 {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: heebo, sans-serif;
    font-weight: 700;
}

.experience-details > h5 {
    font-size: 16px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.experience-details > p {
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: rgba(255, 255, 255, 0.75);
}

.education {
    background-color: #f2f2f2;
} 

.education-title {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: heebo, sans-serif;
    font-size: 25px;
}

.education-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: auto;   
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.education-continer > div {
    text-align: start;
    padding-left: 7rem;
}

.education-items{
    width: 13rem;
    height: 13rem;
    background-color: white;
    border-radius: 7px;
    padding: 1rem 2rem 2rem 2rem;
    margin-top: 1rem;
}

.hover-card {
    font-size: 2.5em; 
    color: lightgrey;
}

.education-items:hover{
    box-shadow: 3px 3px 10px #7c9cff;
}

.education-items:hover .hover-card {
    color:#7c9cff !important;
}

.education-items:hover .material-icons {
    color:#7c9cff !important;
}

.education-date {
    width: 100%;
    font-size: 20.25px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: rgba(82, 81, 81, 0.75);
    padding-top: 1.5rem;
}

.education-details > h4 {
    /*color: #fff;*/
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: heebo, sans-serif;
    font-weight: 700;
}

.education-details > h5 {
    font-size: 16px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    /*color: rgb(255, 255, 255);*/
    margin-bottom: 0.8rem;
}

.education-details > p {
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    /*color: rgba(255, 255, 255, 0.75);*/
} 

.education-items .material-icons {
    font-weight: 300;
    font-size: 2.5em;
    color: lightgrey;
}

.skill {
    background-color: whitesmoke;
}

.skill-container {
    padding-bottom: 4rem;
}

.skill-title {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: heebo, sans-serif;
    font-size: 25px;
}

.skill-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.skills-img {
    width: 30rem;
    height: 30rem;
    justify-content: center;
    background-image: linear-gradient(90deg,#766dff 0%,#88f3ff 100%);
    border-radius: 50%;
}

.skills-img img {
    width: 26rem;
    height: auto;
    padding-left: 3rem;
    margin-top: -2rem;
}

.skills-items li {
    list-style-type: none;
    background-color: white;
    box-shadow: .8px .8px 3px  grey;
    margin-bottom: .8rem;
    border-radius: 5px;
    padding: .8rem .5rem;
    width: 20rem;
    font-family: roboto, sans-serif;
    font-weight: 600;
    color: rgba(82, 81, 81, 0.75);
}

.skills-items li:hover {
    background-image: linear-gradient(90deg,#766dff 0%,#88f3ff 100%);
    color: white;
    height: auto;
    box-shadow: 3px 3px 10px  #7c9cff;
}

.to-top-btn {
    background-color: #272e77;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    color: lightgrey;
    position: fixed;
    border: none;
    right: 1.5rem;
    bottom: 2rem;
    z-index: 99;
}

.to-top-btn:hover {
    background-color: lightgrey;
    color: #0c0844;
}

button p {
    font-weight: 500;
    margin-top: -1rem;
    padding-bottom: 1.5rem;
    padding-top: .2rem;
}

.footer {
    background-color: black;
    color: white;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 2rem 3rem 2rem;
}

.about {
    width: 25%;
    height: auto;
    margin-right: 5rem;
}

.contact-container h3 {
    font-family: heebo, sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-container p {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: .8px;
    color: #777;
    line-height: 1.3rem;
    padding-top: 1rem;
}

.form {
    width: 35%;
    height: auto;
}

form .name, .email {
    width: 75%;
    height: auto;
    padding: .5rem;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 1rem;
}

form .comment {
    resize: none;
    width: 75%;
    height: 4rem;
    padding: .5rem;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 1rem;
    font-family: roboto, sans-serif;
}

form .btn {
    width: 15%;
    height: 2rem;
    background-image: linear-gradient(90deg,#766dff 0%,#88f3ff 100%);
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
}

form .btn:hover {
    background-image: linear-gradient(90deg, #88f3ff 0%,#766dff 100%);
}

.social {
    width: 15%;
    height: auto;
}

.links {
    padding-top: 2rem;
}

.links a {
    text-decoration: none;
}
.links i {
    padding-right: 1rem;
    color: #cccccc;
}

.links i:hover {
    color: #007bff;
}